{{>header}}
<div class='blog-post'>
  <h4>Posted by {{user.username}} on {{format_date date_created}}</h4>
  <a><h3 id='post-title' data-id='{{id}}'>{{title}}</h3></a>
  <div class='blog-post-content'>
    <p>
      {{content}}
    </p>
  </div>
  <div class='comments'>
    <h3>Comments:</h3>
    {{#each comments as |comment|}}
      <div class='comment'>
        <h4>Posted by
          {{comment.user.username}}
          on
          {{format_date comment.date_commented}}</h4>
        <p>{{comment.comment}}</p>
      </div>
    {{/each}}
  </div>
  {{#if logged_in}}
    <div class='container'>
      <form id='submit-content'>
        <div class='form-group-comment' id='leave-comment'>
          <label for='comment' class='leave-comment'>Leave Comment:</label>
          <textarea class='form-control' id='comment' rows='3'></textarea>
          <button
            type='submit'
            class='btn btn-primary btn-custom wide-btn'
          >Submit</button>
        </div>
      </form>
    </div>
  {{/if}}
</div>

{{#if logged_in}}
  <script src='/js/comment.js'></script>
{{/if}}